/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    font-size: 24px;
    color: #333;
}

.header-container h1 span {
    color: #3498db;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.hero-section {
    text-align: center;
    padding: 40px 20px;
}

.hero-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero-section h2 span {
    color: #3498db;
}

.hero-section p {
    font-size: 16px;
    margin-bottom: 30px;
}

.search-box {
    padding: 20px;
    border-radius: 10px;

    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}




.search-box button:hover {
    background-color: #2980b9;
}


